.obsidian-immich-overallDiv {
    position: relative;
}
.obsidian-immich-column {
    float: left;
    width: 50%;
} 
/* Clear floats after the columns */
.obsidian-immich-row:after {
    content: "";
    display: table;
    clear: both;
  }
